.food-section-card{
    margin-bottom: 40px;
}
.card-fix-row{
    position: relative;
    height: 200px;
}
.card-fix{
    position: absolute !important;
    bottom: 40%;
    right: 5%;
    background-color: white;
    padding: 40px 50px 0;
}
.card-fix .btn-custom{
    font-weight: 700;
}