.carosol-fix{
    height: 300px;
    background-color: #FF4061;
}
.inner-carosol-fix{
    padding-top: 100px;
    margin-top: 50px;
    height: 300px;
}
.carosol-fix h5{
    
}
.carosol-fix p{

}
.img-fix{
    width: 600px;
    margin: auto;
}